body {
  background: #0D111C;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

.outer {
  max-width: 2000px;
  background-color: transparent;
  margin: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: #131728;
}

.section {
  max-width: 1440px;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 10px;
}

.channel-card {
    /*flex: 0 0 calc(20% - 15px); */ /* Adjust the width for 5 cards in a row */
    /* flex: 0 0 calc(15% - 15px); */  /* Adjust the width for 6 cards in a row */
    flex: 0 0 calc(12% - 15px); /* Adjust the width for 8 cards in a row */
    border-radius: 10px;
    background-color: #fff; /* Dark card background */
    padding: 12px; */
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Needed for the pseudo-element to position properly */
    overflow: hidden; /* Ensures the pseudo-element does not overflow the border radius */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.channel-card:hover {
    transform: translateY(-5px); /* Raise the card slightly on hover */
    cursor: pointer; /* Changes the mouse cursor to a pointer to indicate it's clickable */
}

.channel-card:hover::after {
    content: '';
    position: absolute;
    top: -2px; /* Slightly inside the card to create the border effect */
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #d93731; /* The red border color */
    border-radius: 10px; /* Match the border radius of the card */
    pointer-events: none; /* Ensures the pseudo-element does not interfere with clicking */
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.channel-logo {
    width: 100%; /* Full width of the card */
    aspect-ratio: 16 / 9; /* Maintain the aspect ratio of the logo */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: #fff; */ /* Assuming a white background for logos */
}

.channel-timing {
    font-size: 14px;
    color: #ffa500; /* Orange color for timing and channel info */
}

.channel-card.keyboard-focus {
  border: 2.5px solid #ffa500;
  border-radius: .75rem;
}

/* ALL THUMBNAILS */

.grid-workouts {
  display: grid;
  max-width: 1360px;
  margin: auto;
  /* margin: 0 40px 40px; */
  grid-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-workouts2 {
  display: grid;
  padding-top: 10px;
  max-width: 1360px;
  margin: auto;
  /* margin: 0 40px 20px; */
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.workout img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.metadata {
  background-color: transparent;
  color: #222222;
  height: 10px;
  font-size: 9px;
}

.info {
  margin: 0;
  padding: 0;
  color: #999;
  font-size: 12px;
}

.title {
  color: #fefefe;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

/* WORKOUTS */

.workout {
  background-color: transparent;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.workout .btn {
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  background: #3ea055;
  color: white;
  font-size: 9px;
  font-weight: bold;
  padding: 2px 6px;
  border: none;
  cursor: default;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
}

.workout .btn2 {
  position: absolute;
  float: bottom;
  background: rgb(251,169,57);
  background: linear-gradient(0deg, rgba(0,0,0,100) 0%, rgba(0,0,0,1) 100%);
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 7px;
  border: none;
  cursor: default;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.workout .name {
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1119px) {
  .grid-workouts2 {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media screen and (max-width: 899px) {
  .grid-workouts2 {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 679px) {
  .grid-workouts2 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 499px) {
  .grid-workouts2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
